.App {
  text-align: center;
  min-height: 100vh;
}

/* ------------------------------------------------------------
header
------------------------------------------------------------ */
header {
  height: 10vh;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: flex-start;
  background: #6441a5;
  background: -webkit-linear-gradient(
    to right,
    #2a0845,
    #6441a5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a0845,
    #6441a5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > img {
  height: 75%;
}

header > p {
  font-family: monospace;
  color: whitesmoke;
  font-size: 1.75rem;
  margin-left: 1rem;
}

/* ------------------------------------------------------------
    FORM
    ------------------------------------------------------------ */
.meme-form {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meme-form > label {
  align-self: start;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.meme-form > input {
  font-family: inherit;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  color: #6441a5;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.meme-form > button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
  font-family: monospace;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  color: whitesmoke;
  background: #6441a5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.meme-form > button:hover {
  box-shadow: none;
  background: #5a3b94;
}

/* -------------------------------------------------------------- */
/* MEME */
/* -------------------------------------------------------------- */
.meme {
  position: relative;
  width: 90%;
  margin: 3rem auto;
}

.meme > img {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}

.meme > h2 {
  position: absolute;
  width: 90%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1.75em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  word-wrap: break-word;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

/* -------------------------------------------------------------- */
/* MEDIA */
/* -------------------------------------------------------------- */
@media (min-width: 600px) {
  header > img {
    height: 70%;
    margin-left: 1rem;
  }

  header > p {
    font-size: 3rem;
    margin-left: 2rem;
  }

  .meme-form {
    margin-top: 2rem;
  }

  .meme-form > button {
    width: fit-content;
    align-self: end;
  }
}
